<!DOCTYPE html>
<html>
  <head>
  	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Compare Email</h1>
    <p>Lotto Numbers: <%= @last_draw %></p>
    <p>Your Numbers: <%= @check %></p>
    <p>Matching Positions: <%= @checkstring %></p>
  </body>
</html>