@import "bootstrap-sprockets";
@import "bootstrap";


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: #fff;
  text-decoration: none;
}

.navlinks {
  padding-top: 16px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}